@rendermode InteractiveServer
@page "/tasks"
@using TaskManager.App.Models
@using TaskManager.App.Services.Interfaces
@using TaskManager.Contracts.Enums;
@using TaskManager.Contracts.DTO;
@using TaskManager.App.Mappers;
@inject ITaskService TaskService
@inject NavigationManager Nav
@inject IJSRuntime JS

<h3>Tasks</h3>

<div class="mb-3">
    <input class="form-control"
           placeholder="Поиск..."
           value="@_search"
           @oninput="OnSearchChanged" />
</div>

<div class="mb-3">

    <select class="form-select" @onchange="OnPrioritySelectionChanged">
        <option value="">Все</option>
        <option value="Low">Низкий</option>
        <option value="Medium">Средний</option>
        <option value="High">Высокий</option>
    </select>

</div>

<div class="mb-3">

    <select class="form-select" @onchange="OnIsCompletedSelectionChanged">
        <option value="">Все</option>
        <option value="True">Выполнено</option>
        <option value="False">Не выполнено</option>
    </select>

</div>

@* <div class="mb-3">

    <select class="form-select" @bind="_sortBy">
        <option value="CreatedAt">Дата создания</option>
        <option value="UpdatedAt">Дата обновления</option>
        <option value="DueDate">Дата решения</option>
    </select>

</div>

<div class="mb-3">

    <select class="form-select" @bind="_sortDirection">
        <option value="Ascending">По возрастанию</option>
        <option value="Descending">По убыванию</option>
    </select>

</div> *@

@* <button class="btn btn-primary mb-3" type="button" @onclick="ApplyFilters">
    Принять
</button> *@

@if (_loading)
{
    <p>Loading...</p>
}
else
{
    <button class="btn btn-success mb-3" @onclick="OpenCreate">
        Создать задачу
    </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th 
                    @onclick="() => ChangeSort(Contracts.Enums.SortBy.Title.ToString())" 
                    style="cursor:pointer">
                        Название @SortIcon(Contracts.Enums.SortBy.Title.ToString())
                </th>
                <th>Описание</th>
                <th>Приоритет</th>
                <th>Статус</th>
                <th 
                    @onclick="() => ChangeSort(Contracts.Enums.SortBy.CreatedAt.ToString())" 
                    style="cursor:pointer">
                        Дата создания @SortIcon(Contracts.Enums.SortBy.CreatedAt.ToString())
                </th>
                <th 
                    @onclick="() => ChangeSort(Contracts.Enums.SortBy.UpdatedAt.ToString())" 
                    style="cursor:pointer">
                        Дата обновления @SortIcon(Contracts.Enums.SortBy.UpdatedAt.ToString())
                </th>
                <th 
                    @onclick="() => ChangeSort(Contracts.Enums.SortBy.DueDate.ToString())" 
                    style="cursor:pointer">
                        Дата решения @SortIcon(Contracts.Enums.SortBy.DueDate.ToString())
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var task in _result.Items)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td class="@task.PriorityCssClass">@task.PriorityLabel</td>
                    <td>@task.StatusLabel</td>
                    <td>@task.CreatedAtFormatted</td>
                    <td>@task.UpdatedAtFormatted</td>
                    <td>@task.DueDateFormatted</td>
                    <td>
                        <button class="btn btn-sm btn-success" @onclick="() => CompleteTask(task)">
                            Готово
                        </button>
                        <button class="btn btn-sm btn-primary" @onclick="() => EditTask(task)">
                            Изменить
                        </button>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteTask(task.Id)">
                            Удалить
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex gap-2">

        <button class="btn btn-secondary"
                type="button"
                disabled="@(_page <= 1)"
                @onclick="PrevPage">
            Prev
        </button>

        <span class="align-self-center">
            Page @_result.Page / @_result.TotalPages
        </span>

        <button class="btn btn-secondary"
                type="button"
                disabled="@(_page >= _result.TotalPages)"
                @onclick="NextPage">
            Next
        </button>
    </div>
}

@code {
    private PagedResult<TaskViewModel> _result = new();
    private bool _loading = true;

    [Parameter]
    [SupplyParameterFromQuery]
    public int? Page { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? PageSize { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public bool? IsCompleted { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Priority { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Search { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? SortBy { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? SortDirection { get; set; }

    public int _page { get; set; } = 1;
    public int _pageSize { get; set; } = 10;
    public string? _isCompleted { get; set; }
    public string? _priority { get; set; }
    public string? _search { get; set; }
    public string? _sortBy { get; set; }
    public string? _sortDirection { get; set; }

    private CancellationTokenSource? _searchToken;

    private async Task OnSearchChanged(ChangeEventArgs e)
    {
        _search = e.Value?.ToString();

        _searchToken?.Cancel();
        _searchToken = new CancellationTokenSource();

        try
        {
            await Task.Delay(400, _searchToken.Token);

            _page = 1;
            Navigate();

        }
        catch (TaskCanceledException)
        {
            //ignored
        }

    }

    private async Task CompleteTask(TaskViewModel task)
    {
        var dto = new UpdateTaskStatusDto();
        dto.IsCompleted = true;
        await TaskService.UpdateTaskStatusAsync(task.Id, dto);

        await Load();
    }

    private void EditTask(TaskViewModel task)
    {
        Nav.NavigateTo($"/tasks/edit/{task?.Id}");
    }

    private async Task DeleteTask(int id)
    {
        if (!await JS.InvokeAsync<bool>("confirm", "Удалить задачу?"))
            return;

        await TaskService.DeleteTaskAsync(id);

        await Load();
    }

    private void OpenCreate()
    {
        Nav.NavigateTo("/tasks/create");
    }

    private void OnIsCompletedSelectionChanged(ChangeEventArgs e)
    {
        _isCompleted = e.Value?.ToString();
        _page = 1;
        Navigate();
    }

    private void OnPrioritySelectionChanged(ChangeEventArgs e)
    {
        _priority = e.Value?.ToString();
        _page = 1;
        Navigate();
    }

    protected override async Task OnParametersSetAsync()
    {
        _page = Page ?? 1;
        _pageSize = PageSize ?? 10;

        _search = Search;
        _priority = Priority;
        _sortBy = SortBy ?? "CreatedAt";
        _sortDirection = SortDirection ?? "Ascending";

        _isCompleted = IsCompleted?.ToString().ToLower();
        await Load();
    }

    private void ChangeSort(string column)
    {
        if (_sortBy == column)
        {
            _sortDirection = _sortDirection == "Ascending" ? "Descending" : "Ascending";
        }
        else
        {
            _sortBy = column;
            _sortDirection = "Ascending";
        }

        _page = 1;

        Navigate();
    }

    private string SortIcon(string column)
    {
        if (_sortBy != column)
            return "";

        return _sortDirection == "Ascending" ? "↓" : "↑";
    }

    private async Task Load()
    {
        _loading = true;

        bool? isCompleted = null;

        if (bool.TryParse(_isCompleted, out var parsedValue))
            isCompleted = parsedValue;

        _result = await TaskService.GetTasksAsync(
            _page,
            _pageSize,
            isCompleted,
            StringToEnumsMapper.MapToPriority(_priority),
            _search,
            StringToEnumsMapper.MapToSortBy(_sortBy),
            StringToEnumsMapper.MapToSortDirection(_sortDirection)
        );

        _loading = false;
    }

    private void ApplyFilters()
    {
        _page = 1;
        Navigate();
    }

    private void NextPage()
    {
        _page++;
        Navigate();
    }

    private void PrevPage()
    {
        _page--;
        Navigate();
    }

    private void Navigate()
    {
        bool? isCompleted = null;

        if (bool.TryParse(_isCompleted, out var parsedValue))
            isCompleted = parsedValue;
        var uri = Nav.GetUriWithQueryParameters("/tasks", new Dictionary<string, object?>
        {
            ["page"] = _page,
            ["isCompleted"] = isCompleted,
            ["priority"] = _priority,
            ["search"] = _search,
            ["sortBy"] = _sortBy,
            ["sortDirection"] = _sortDirection
        });

        Nav.NavigateTo(uri);
    }
}
